<a id="sidebar-link" href="/" title="Go to Home">Home</a>
<a id="sidebar-link" href="/about" title="Go to About">About</a>
<a id="sidebar-link" href="#">Another one</a>
<a id="sidebar-link" href="#">One more, why not?</a>
<a id="sidebar-link" href="#">Last one, i promise :)</a>
<div id="main-footer"><p>Free <a href="http://ghost.org" title="Try Ghost" rel="external">Ghost</a> theme designed and coded by <a href="https://twitter.com/damianmuti" title="Go to @damianmuti's Twitter" rel="external">@damianmuti</a></p></div>