<a id="sidebar-link" href="/" title="Go to Home">Home</a>
<a id="sidebar-link" href="/about" title="Go to About">About</a>
<a id="sidebar-link" href="/projects">Projects</a>
<a id="sidebar-link" href="/photos">Photography</a>