<menu class="social-media-share">
    <a href="https://www.facebook.com/benjamin.yu" class="icon-facebook" rel="external" title="My Facebook"></a>
    <a href="https://twitter.com/LeStealth" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="http://ca.linkedin.com/pub/benjamin-yu/20/9b0/153" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="https://github.com/ben-yu" class="icon-github" rel="external" title="My GitHub"></a>
    <a href="mailto:benjamin.sichit.yu@gmail.com" class="icon-mail" rel="external" title="My Mail"></a>
    <a href="http://www.ben-yu.com/rss/" class="icon-feed" rel="external" title="My RSS Feed"></a>
</menu>