<menu class="social-media-share">
    <a href="#" class="icon-facebook" rel="external" title="My Facebook"></a>
    <a href="#" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="#" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="#" class="icon-github" rel="external" title="My GitHub"></a>
    <a href="#" class="icon-mail" rel="external" title="My Mail"></a>
    <a href="#" class="icon-feed" rel="external" title="My RSS Feed"></a>
</menu>